:root {
    font-size: 16px;
    @font-face {
      font-family: Italianno;
      src: url(../font/Italianno.ttf);
    }
    @font-face {
      font-family: Roboto;
      src: url(../font/Roboto.ttf);
    }
    @font-face {
        font-family: AfacadFlux;
        src: url(../font/AfacadFlux.ttf);
    }
  }

  body {
    background-color: rgba(241, 236, 236, 0.932);
    color: white;
    font-family: "AfacadFlux";
  }
  .link {
    text-decoration: none;
  }
