$lavander: rgba(155, 95, 207, 0.075);
$lavanderHeader: rgba(155, 95, 207, 0.158);
$lavanderBurger:rgba(140, 45, 223, 0.164);
$light-green: rgba(226, 238, 206, 1);
$candy: rgba(254, 237, 237, 1);
$light-blue: rgb(184, 199, 218);
$brown: rgba(200, 145, 145, 1);
$gold: rgba(230, 209, 90, 0.774)
