.acc-ttl {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.acc-txt {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 1rem;
}
.user-account-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.acc-ttl {
    color: #333;
margin: 4rem 0 4rem 0;
}

.account-info {
    background-color: $lavander;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.acc-txt {
    margin-bottom: 10px;
    line-height: 1.6;
}

.acc-subtl {
    color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.course-table th,
.course-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
    color: black;
}

.course-table th {
    background-color: $light-blue;
    color: #333;
    color: black;
}

.course-table tr:nth-child(even) {
    background-color: $light-blue;
    color: black;
}

.logout-form {
    text-align: center;


}


.logout-btn{
    padding: 1rem 2rem;
    border: 1px solid rgba(104, 100, 100, 0.781);
    background-color: $lavander;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    color: #333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 3rem;
}
.custom-btn:hover {
    background-color: $light-green;
}
