
.contact-ttl {
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem;
    font-weight: 550;
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: black;
}
.contact-input {
    margin-bottom: 1rem;
    margin-top: -1rem;
    height: 3rem;
    padding: 0.5rem;
}
.message-input {
    height: 8rem;
    resize: none;
    margin-bottom: 4rem;
    padding: 0.5rem;
}
.message-label {
    margin-bottom: 1rem;
    color: black;
    font-size: 1.5rem;
}

.contact-label {
    color: black;
    font-size: 1.5rem;

}
.contact-btn {

    margin: 2rem auto;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 1rem;
    border: 1px solid rgba(167, 160, 160, 0.781);
    background-color: $lavander;

    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
}
@media screen and (min-width: 900px){
    .contact-container{
        width: 70%;
        display: block;
        margin: 5rem auto;
    }
}
