.form-container {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border: 1px solid rgba(177, 174, 174, 0.74);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 90%;
    background-color: $light-blue;
    line-height: 1.5rem;
    margin: 2rem auto;
    color: black;
}

.form-up[type="file"] {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: black;
    background-color: $lavander;
}
.form-txt {
    color: black;
    font-size: 1rem;
    margin: 1rem;
    font-family: Roboto;
}

.alert {
    color: black;
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid rgba(235, 27, 27, 0.774);
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: $light-green;
    font-family: Roboto;
}
.txt {
    font-size: 1.5rem;
}
.alt-txt {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 2rem 0;
}
.down-form {
    background-color: $lavander;
    padding: 2rem;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border-radius: 5px;
    width: 90%;
    margin: 2rem auto;
    box-sizing: border-box;
    text-align: center;
    color: black;
}
.form-lnk {
    font-size: 1.5rem;
}
.form-main-txt {
    font-size: 2.5rem;
    text-decoration: underline;
}
.form-ttl {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
    font-weight: 550;
    text-decoration: underline;
}
.form-ttl-total {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}
.course-options {
    font-family: Roboto;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}
.form-scd-ttl {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    font-weight: 500;
    font-family: Italianno;
    font-size: 2rem;
}
.course-ttl {
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
}

.course-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.course-type {
    text-align: left;
    flex-grow: 1;
}

.course-time {
    text-align: center;
    flex: 10;
    margin-right: 4rem;
}

.course-input {
    text-align: right;
}
.course-time-1 {
    text-align: center;
    flex: 10;
    margin-right: 3rem;
}
.course-time-2 {
    text-align: center;
    flex: 10;
    margin-right: 5rem;
}
.total {
    background-color: $lavander;
    padding: 0.3rem;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border-radius: 5px;
    margin: 2rem 0 2rem 0;
}
.form-ttl-total {
    font-size: 2rem;
    text-align: center;
    font-weight: 550;
}
.total-txt {
    font-family: Roboto;
    margin-bottom: 1rem;
    text-align: center;
}
.health-questions {
    font-family: Roboto;
    font-size: 0.9rem;
}

.question-lst {
    list-style: none;
    padding: 0;
}
.lst-itm {
    margin-bottom: 2rem;
}

.lst-box {
    display: block;
}
.nbtxt {
    font-size: 1.5rem;
    text-align: center;
    background-color: $lavander;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    margin-bottom: 2rem;
}
.cond-txt{
    font-family: Roboto;
}
.cond-container{
    background-color: $lavander;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border-radius: 5px;
    width: 100%;
    margin: 1rem auto;
    box-sizing: border-box;
    text-align: center;

}
.contact-label{
font-size: 2rem;
margin: 1rem 0 1rem 0;
text-align: center;
}
.separation-form{
    display: block;
    margin: 2rem auto;
}
.pay-choice{
    margin-top: 1rem;
    background-color: $lavander;
    border-radius: 5px;
}
@media screen and (min-width: 900px) {
    .down-form,
     .form-container{
        width: 60%;
    }
.form-scd-ttl{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
}
