.price-ttl {
    color: black;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }
  .price-btn {
    position: relative;
    left: 5rem;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 1rem;
    border: 1px solid rgba(167, 160, 160, 0.781);
    background-color: $light-blue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);

  }
  .price-btn:hover{
    background-color: $lavander;
  }
  .price-txt,
  .price-nb {

    color: black;
    font-family: Roboto;
    line-height: 2rem;
  }
  .price-container {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1rem;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 4px;
    width: 90%;
    margin-bottom: 3rem;
    margin-top: 4rem;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border: 1px solid rgba(177, 174, 174, 0.74);

  }
  .price-rule-txt{
    font-family: Roboto;
    color: black;
    line-height: 2rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: $light-blue;
    border-radius: 4px;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
    border: 1px solid rgba(177, 174, 174, 0.74);
  }
  .price-rule-ttl{
    font-family: italianno;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

