.reg-label {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.reg-input {
    margin-bottom: 2rem;
    border-radius: 5px;
    height: 3rem;
    padding: 0.5rem;
}
.reg-ttl {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2rem;
}
.term {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.5rem;
}
.log-btn{
    display: block;
    margin: 2rem auto;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 1rem;
    border: 1px solid rgba(167, 160, 160, 0.781);
    background-color: $lavander;
    box-shadow: 4px 4px 4px rgba(177, 174, 174, 0.74);
}
.log-label{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.alert{
    background-color: $lavander;
    width: 90%;
    display: block;
    margin: 2rem auto;
    font-family: Roboto;
    padding: 1rem;
    border: 1px solid rgba(167, 160, 160, 0.781);
}
